{% extends "main/layout.html" %}
{% block content %}
    <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <img src="{{ object.image.url }}" class="img-fluid mt-4" alt="">
        </div>
        <div class="col-md-6 mb-4">
          <!--Content-->
          <div class="p-4">
            <div class="mt-0">
                <h5>{{ object.title }}<span class="badge badge-{{ object.label_colour }} ml-2">{{ object.labels }}</span></h5>
            </div>
            <div class="lead">
              {% if object.description %}
              <h6>{{ object.description }}</h6>
              {% endif %}
              <h5>₹ {{ object.price }} per box</h5>
              <h5>{{ object.instructions }}</h5>
            </div>
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart</a>
          </div>
          <!--Content-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <hr>
    </main>
{% endblock content %}